PORT=4000
DATABASE_URL="postgresql://user:password@localhost:5432/gwc_db?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="your_super_secret_jwt_key_change_this"
JWT_EXPIRES_IN="7d"

# Africa's Talking / Twilio
SMS_API_KEY="your_sms_api_key"
SMS_SENDER_ID="GWC_KENYA"

# M-Pesa Sandbox
MPESA_CONSUMER_KEY="sandbox_key"
MPESA_CONSUMER_SECRET="sandbox_secret"
MPESA_SHORTCODE="174379"
MPESA_PASSKEY="bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919"
API_URL="http://localhost:4000"